@font-face {
    font-family: 'gamefont';
    src: url('./font2.ttf');
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #171c28;
    color: #fff;
    font-family: gamefont;
}

#display {
    margin: 1rem;
}

.item {
    display: inline-block;
    position: relative;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    margin: 8px;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: 0px;
}

.itemName {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 19px;
    color: #fff;
    text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020, -3px -3px 0 #202020, 3px -3px 0 #202020, -3px 3px 0 #202020, 3px 3px 0 #202020;
}

.item:hover .itemDetails{
    visibility: visible;
    background-color:rgb(0, 0, 0, 0.3);
    border-radius: 20px;
}

.item:hover .itemName{
    visibility: hidden;
}

@media screen and (max-width: 900px) {
    .item:hover, .item:active .itemDetails{
        visibility: visible;
        background-color:rgb(0, 0, 0, 0.3);
        border-radius: 20px;
    }
}

.itemDetails {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.itemDetails a {
    display: block;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #171c28;
    color: #fff;
    /* margin:  35px 50px; */
    margin: 14px 50px;
    text-decoration: none;
    font-size: 20px;
}


/* krunker css */
.rgbHue {
    -webkit-animation: rgbHue .8s steps(36) infinite;
    animation: rgbHue .8s steps(36) infinite
}

@keyframes rgbHue {
    from {
        -webkit-filter: hue-rotate(10deg) brightness(2);
        filter: hue-rotate(10deg) brightness(2)
    }

    to {
        -webkit-filter: hue-rotate(360deg) brightness(2);
        filter: hue-rotate(360deg) brightness(2)
    }
}

.rainbowBorder {
    -webkit-animation: rainbowB .5s linear infinite;
    animation: rainbowB .5s linear infinite;
}

@keyframes rainbowB {
    0%,100% {
        border-color: Crimson
    }

    20% {
        border-color: orange
    }

    40% {
        border-color: #ff0
    }

    60% {
        border-color: lime
    }

    80% {
        border-color: MediumBlue
    }
}

@keyframes sprayAni2 {

    0%,
    49.999% {
        background-position: 0px;
    }

    50%,
    100% {
        background-position: -100%;
    }
}

@keyframes sprayAni4 {

    0%,
    24.999% {
        background-position: 0px;
    }

    25%,
    49.999% {
        background-position: -100%;
    }

    50%,
    74.999% {
        background-position: -200%;
    }

    75%,
    100% {
        background-position: -300%;
    }
}
